.platform-container {
    height: 100vh;
    display: flex;
}

.select-panel-section {
    height: 100vh;
    width: 30vw;
    background-color: darkslategrey;
}

.panel-section {
    height: 100vh;
    width: 65vw;
}

.panel-option {
    height: 15vh;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    background-color: white;
    border: solid black 1px;
    cursor: pointer;
}