table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 15px;
}

.order-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}