.platform-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.select-panel-section {
    height: 100vh;
    width: 30vw;
    background-color: purple;
}

.panel-section {
    height: 100vh;
    width: 65vw;
}

.panel-option {
    height: 15vh;
    margin: 15px;
    background-color: darksalmon;
}